.container {
    padding: 0 1rem;
    margin: 0 auto;
    .swiper_container {
        padding: 2rem 0;
        position: relative;
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                object-fit: cover;
            }
        }
        .swiper-slide-shadow-left,
        .swiper-slide-shadow-right {
            display: none;
        }
    }
}
