@import "./config";
@import "./slider";
@import "./rangle-slider";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*,
.primaryFont {
    font-family: $primaryFont !important;
}

.custom-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.103);
}
.onHoverShadow:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.103);
}
.setScrollBar::-webkit-scrollbar {
    width: 3px;
}
.setScrollBar::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}
.setScrollBar::-webkit-scrollbar-thumb {
    background-color: #717070;
    border-radius: 5px;
}
.backgroundBlack {
    background-color: #00000059;
}
.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.swiper-slide {
    height: 349.34px !important;
    width: 354.35px !important;
    transition: 0.2s;
    &.active {
        height: 403px !important;
        width: 408.68px !important;
    }
}
.removeScrollBar::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 250px) and (max-width: 490px) {
    .setWidthCompareModal {
        width: 280px;
    }
}

@media screen and (min-width: 491px) and (max-width: 2500px) {
    .setWidthCompareModal {
        width: 450px;
    }
}

.shapedDiv{
    width: 100px;
    height: 100px;
    clip-path: polygon(100% 57%, 100% 99%, 49% 100%);
}